{% extends "_layouts/base.html" %}
{% block page_title %}Data List{% endblock %}
{% block nav_data_active %}active{% endblock %}

{% block page_content %}
<div class="row-fluid">

	<h3>Create New: <a href="{% url data:import %}">Import File</a></h3>

	{% for data_frame in object_list %}
	<li><a href="{{ data_frame.get_absolute_url }}">{{ data_frame.name }}</a></li>
	{% empty %}
	<li>Sorry, no posts yet. Check back soon!</li>
	{% endfor %}
	
	
	
	<br>
	<a href="{% url home %}">&larr; Home</a>
</div>
{% endblock %}

