{% extends "_layouts/base.html" %}
{% block page_title %}Data Files{% endblock %}
{% block nav_data_active %}active{% endblock %}

{% block page_content %}
<div class="row-fluid">

	<h2>
	{% for data_frame in object_list %}
	<li><a href="{{ data_frame.get_absolute_url }}">{{ data_frame.name }}</a></li>
	{% empty %}
	<li>No data yet.  Upload some!</li>
	{% endfor %}
	</h2>
	<br>

	<a class="btn btn-primary" href="{% url data:filecreate %}">	<span class="glyphicon glyphicon-import"></span> Import New File</a>

<!-- 
	<ul class="pager">	
		<li class="previous"><a href="{% url home %}">&larr; Home</a></li>
	</ul>
 -->
</div>
{% endblock %}
