{% extends "_layouts/base.html" %}
{% block page_title %}Data Import{% endblock %}
{% block nav_data_active %}active{% endblock %}

{% block page_content %}
<div class="row-fluid">
	<div class="well">
		<form action="{% url data:import %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			
				<p>
					{{ form.name.errors }}
					<input id="id_name" type="text" name="{{ form.name.html_name }}" class="form-control" maxlength="{{ form.name.max_length }}" placeholder="Name">				
				<p>
					{{ form.description.errors }}
					<textarea id="id_description" type="text" name="{{ form.description.html_name }}" class="form-control" maxlength="255" placeholder="Description"></textarea>				
				<p>
					{{ form.docfile.errors }}
					<input type="file" name="{{ form.docfile.html_name }}" id="id_docfile"/>				
				<p>
					{{ form.owner }}
				<p>
<!-- 					<input type="submit" class="btn btn-default" value="Create" /> -->
					
					
				<button type="submit" class="btn btn-default btn-med">
					<span class="glyphicon glyphicon-cloud-upload"></span> Upload
				</button>
		</form>
	</div>

	<ul class="pager">	
		<li class="previous"><a href="{% url data:list %}">&larr; Data Manager</a></li>
	</ul>
</div>
{% endblock %}