{% extends "_layouts/base.html" %}

{% block head_content %}
<script>
	// Should refactor this into a separate JS/CSS file
	$(document).ready(function() {
		$('.edit').editable('{{ object.get_absolute_url }}',
		{
			width:($(".edit").width() + 100) + "px",
			height:($(".edit").height() + 10) + "px"
		});
	});
</script>

    <script type="text/javascript" src="//www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load('visualization', '1', {packages: ['table']});
    </script>
    <script type="text/javascript">
		function drawVisualization() {
			// Create and populate the data table.
			var data = google.visualization.arrayToDataTable({{ data_list|safe }});
			// Create and draw the visualization.
			visualization = new google.visualization.Table(document.getElementById('table1'));
			visualization.draw(data, null);
		}

		google.setOnLoadCallback(drawVisualization);
    </script>

{% endblock %}

{% block page_title %}<span style="display:inline-block" class="edit" id="name">{{ object.name }}</span>{% endblock %}
{% block nav_data_active %}active{% endblock %}

{% block page_content %}

<div class="row-fluid">

 
	<h3><span style="display:inline-block" class="edit" id="name">{{ object.name }}</span> <span class="glyphicon glyphicon-edit"/></h3>
<!--	<h4>ID: {{ object.id }}</h4>
	<h4>Slug: {{ object.slug }}</h4>
	<h4>Database Table: {{ object.db_table_name }}</h4>
	<h4>Owner: {{ object.owner }}</h4>

	<h4>Host: {{ object.db_host }}</h4>
	<h4>Name: {{ object.db_name }}</h4>
	<h4>User: {{ object.db_user }}</h4>
	<h4>Password: {{ object.db_password }}</h4>
 -->

	<br>
	
    <div id="table1"></div>
	<br>

	<form action="{{ object.get_absolute_delete_url }}" method="post">
		<a href="{% url charts:home %}?dataframe_id={{ object.pk }}" class="btn btn-primary">Report</a>
		<input type="submit" class="btn btn-danger" value="Delete" />
	</form>

	<br>
	
	<ul class="pager">	
		<li class="previous"><a href="{% url data:framelist %}">&larr; Data Frames</a></li>
	</ul>
</div>

{% endblock %}
