{% extends "_layouts/base.html" %}

{% block head_content %}
	<script>
		var object_url = "{{ object.get_absolute_url }}";
	</script>

	<script src="/static/data/js/dataframe_detail.js"></script>

    <script type="text/javascript" src="//www.google.com/jsapi"></script>
    <script type="text/javascript">
		google.load('visualization', '1', {packages: ['table']});
		
		function drawVisualization() {
			// Create and populate the data table.
			var data = google.visualization.arrayToDataTable({{ data_list|safe }});
			// Create and draw the visualization.
			visualization = new google.visualization.Table(document.getElementById('table1'));
			visualization.draw(data, null);
		}

		google.setOnLoadCallback(drawVisualization);
    </script>

{% endblock %}

{% block page_title %}<span style="display:inline-block" class="edit" id="name">{{ object.name }}</span>{% endblock %}
{% block nav_data_active %}active{% endblock %}

{% block page_content %}

<div class="container row-fluid">
	<h3><span style="display:inline-block" class="edit" id="name">{{ object.name }}</span> <span class="glyphicon glyphicon-edit"/></h3>
	<br>	
	<div id="table1"></div>
	<br>

	<form action="{{ object.get_absolute_delete_url }}" method="post">
		<a href="{% url charts:home %}?dataframe_id={{ object.pk }}" class="btn btn-primary">Report</a>
		<input type="submit" class="btn btn-danger" value="Delete" />
	</form>

	<br>

	<ul class="pager">	
		<li class="previous"><a href="{% url data:framelist %}">&larr; Data Frames</a></li>
	</ul>
</div>
{% endblock %}
