{% extends "_layouts/base.html" %}
{% block page_title %}Import DataFrame{% endblock %}
{% block nav_data_active %}active{% endblock %}

{% block page_content %}


<div class="container row-fluid">
	<b>Command Executed</b>: {{ command }}
	<br><br>
	
	<b>Output</b>: {{ output }}
	
	
	<ul class="pager">	
		<li class="previous"><a href="{{ object.get_absolute_url }}">DataFrame Manager &rarr; </a></li>
	</ul>
</div>

<script type="text/javascript">
	window.location.href = {{ object.get_absolute_url }}
</script>
{% endblock %}
