Django==1.4.1
GnuPGInterface==0.3.2
MySQL-python==1.2.4
PIL==1.1.7
South==0.8.2
apt-xapian-index==0.44
argparse==1.2.1
chardet==2.0.1
command-not-found==0.2.44
distribute==0.6.24
django-debug-toolbar==0.9.4
django-extensions==1.2.5
django-qsstats-magic==0.7.2
language-selector==0.1
numpy==1.8.0
pandas==0.12.0
pycurl==7.19.0
pysqlite==1.0.1
python-apt==0.8.3ubuntu7.1
python-dateutil==2.1
python-debian==0.1.21ubuntu1
pytz==2013.7
scipy==0.9.0
six==1.4.1
ufw==0.31.1-1
urlgrabber==3.9.1
virtualenv==1.7.1.2
wsgiref==0.1.2
yum-metadata-parser==1.1.2
