option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: win/wsgi.py
  - namespace: aws:elasticbeanstalk:container:python:staticfiles
    option_name: /static/
    value: static/
  - option_name: DJANGO_SETTINGS_MODULE
    value: win.settings
  - option_name: AWS_SECRET_KEY
    value: KTzn7TueOyU/zwfEujZ4H4qqusK60fy+zv39OMLX
  - option_name: AWS_ACCESS_KEY_ID
    value: AKIAI32KTKZIPFIVLQUQ

packages: 
  yum:
    python26-devel: []
    mysql-devel: []

container_commands:
  01_syncdb:
    command: "django-admin.py syncdb --noinput"
    leader_only: true
  02_createadmin:
    command: "scripts/createadmin.py"
    leader_only: true
  03_collectstatic:
    command: "django-admin.py collectstatic --noinput"
  04_yuminstall:
    command: "sudo yum groupinstall 'Development Tools'"
