container_commands:
  01_syncdb:    
    command: "django-admin.py syncdb --noinput"
    leader_only: true

option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: win/wsgi.py
  - option_name: DJANGO_SETTINGS_MODULE
    value: win.settings
  - option_name: AWS_SECRET_KEY
    value: KTzn7TueOyU/zwfEujZ4H4qqusK60fy+zv39OMLX
  - option_name: AWS_ACCESS_KEY_ID
    value: AKIAI32KTKZIPFIVLQUQ
    
packages: 
  yum:
    gcc: []
    mysql: []
    mysql-devel: []
    MySQL-python: []
  	git: []
  	python: []
    unzip: []
  	python-devel: []
    python-setuptools: []
    python-nose: []
    python-setuptools: []
    gcc-gfortran: []
    gcc-c++: []
    blas-devel: []
    lapack-devel: []
    atlas-devel: [] 
  easy_install:
    pip: []
