{{ error_message }}
{# NVD3 #}

<link href="/static/nvd3/css/nv.d3.css" rel="stylesheet" type="text/css">
<script src="/static/nvd3/js/d3.v3.js"></script>
<script src="/static/nvd3/js/nv.d3.js"></script>

<svg id="mainChart" ></svg>

<script>
	var chart_data = {{ chart_data|safe }};
	var chart_type = "{{ chart_type }}";
	var chart_options = {{ chart_options|safe }};
	
	var xaxis_label = chart_options["xaxis_label"];
	var yaxis_label = chart_options["yaxis_label"];
	var xaxis_type = chart_options["xaxis_type"];
	var size_label = chart_options["size_label"];
	var show_legend = chart_options["show_legend"];


	// Django had to pass dates as strings, converting them back
	// Loop through each group which is one list in chart_data
	// Loop through each dictionary with a x & y keys and convert the x formats to date
	if(chart_options["xaxis_type"] == "date"){
		for(var i = 0; i < chart_data.length; i++){
			for (var j=0; j < chart_data[i]["values"].length; j++){
				chart_data[i]["values"][j]["x"] = new Date(x_value = chart_data[i]["values"][j]["x"])
			}
		}
	}
	
	console.debug("chart_options");
	console.debug(chart_options);
// 	console.debug(chart_data);
// 	console.debug(JSON.stringify(chart_data));
</script>

{% if chart_type == "pieChart" %}
	<script src='/static/charts/js/piechart.js' type='text/javascript'> </script>
{% elif chart_type == "lineChart" %}
	<script src='/static/charts/js/linechart.js' type='text/javascript'> </script>
{% elif chart_type == "scatterChart" %}
	<script src='/static/charts/js/scatterchart.js' type='text/javascript'> </script>
{% elif chart_type == "barChart" %}
	<script src='/static/charts/js/barchart.js' type='text/javascript'> </script>
{% endif %}





