<script>
	// Apply Button	
	$("#apply_filters").on("click",function(event){
		var filter_form = $(this).closest(".popover_wrapper");
		var column_name = filter_form.data("parent_id");
		var filter_item = $("#report-filters").find("#" + column_name)

		var exact_value = filter_form.find("#filter-exact-value").select2("val");

		
 		// Create a query_clause like "day_of_week = 'fri'"
		if(exact_value != []){
 			var query_clause = column_name + " in ('" + exact_value.join("','") + "')";
		}
		else{
			$("#filter-exact-value").select2('open');
			return;
		}
		
		// Set a data element on the filter element with a clause to add to the query
		filter_item.data("filter_clause", query_clause);
		
		// Close the popup
		filter_item.popover('destroy');
		
		// Refresh the chart
		update_chart();
	});
	
	// Cancel Button
	$("#cancel_filters").on("click",function(event){
		$("#report-filters").find("div").popover('destroy');
	});

	var column_name = $(".popover_wrapper").data("parent_id");
	var remote_url = '/data/frame/' + dataframe_id + '/' + column_name + '/unique_values.json';

	$("#filter-exact-value").select2({
		placeholder: "Select values",
		allowClear: true,
		ajax: {
			url: remote_url,
			dataType: 'json',
			data: function (term, page) {
				return {
					q: term // search term
				};
			},
			results: function (data, page) {
				return {results: data};
			}
		},
		multiple: true,
		width: 'element'
	});

	$("#filter-exact-value").select2('open');
</script>

Value: 
<input id="filter-exact-value"></input>

<br><br>

<button id="apply_filters" class="btn btn-sm btn-primary">Apply</button>
<button id="cancel_filters" class="btn btn-sm btn-default">Close</button>
