{% extends "_layouts/base.html" %}
{# {% block page_title %}{{ dataframe.name }}{% endblock %} #}
{% block nav_analysis_active %}active{% endblock %}
{% block navbar-style %}default{% endblock %}

{% block head_content %}
	<link rel="stylesheet" href="/static/charts/css/charts.css">
	
	{# Bootstrap-Datepicker #}
	<link rel="stylesheet" href="/static/datepicker/css/datepicker.css">
	<script src="/static/datepicker/js/bootstrap-datepicker.js"></script>
		
	<script>
		var dataframe_id = {{ dataframe.id }};
	</script>
	<script src="/static/charts/js/chart_builder.js"></script>
{% endblock %}

{% block page_content %}

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog" >
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h3 class="modal-title" id="myModalLabel">Choose a Data Frame</h3>
			</div>
			<div class="modal-body">
				<!-- 		Table of DataFrames		 -->
				<table class="table table-striped">
					<thead>
						<tr>
							<th>ID</th>
							<th>Name</th>
							<th>Created Date</th>
						</tr>
					</thead>
					<tbody>
						{% for data_frame in object_list %}
						<tr>
							<td>{{ data_frame.id }}</td>
							<td class="name_editable">
								<a href="{% url charts:home %}?dataframe_id={{ data_frame.pk }}"><span class="glyphicon glyphicon-stats"/></a>&nbsp&nbsp 
								<a href="{% url charts:home %}?dataframe_id={{ data_frame.pk }}">{{ data_frame.name }} </a>
							</td>
							<td>{{ data_frame.created_at }}</td>
						</tr>
			
						{% empty %}
						<tr>
								<td>-</td>
								<td>-</td>
								<td>-</td>
								<td>-</td>
								<td>-</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				<!-- 		/Table of DataFrames		 -->
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- Main Body -->
<div id="main_panel">
	<div id="left_panel">
		<!-- Dimensions -->
		<div class="panel panel-info column-frame">
			<span class="panel-heading column-title">Dimensions</span>
			<ul id="column-list-dims" class="connectedSortable dropzone dropzone-tall">
				{% for column_name, column in dataframe.columns.items %}
					{% if column.role == "dimension" %}
						<div class="btn btn-xs btn-default mypill" id="{{ column_name }}" title="{{ column.display_name }}" data-name="{{ column_name }}" data-type="{{ column.type }}">
							{% if "date" in column.type %}
								<i class="glyphicon glyphicon-calendar"> </i>					
							{% elif "time" in column.type %}
								<i class="glyphicon glyphicon-time"> </i>
							{% elif "character" in column.type_category %}
								<i class="glyphicon glyphicon-font"> </i>
							{% else %}
								{{ column.type }}
							{% endif %}

							{{ column.display_name }}
						</div>
					{% endif %}
				{% endfor %}
			</ul>
		</div>

		<!-- Measures -->
		<div class="panel panel-info column-frame">
			<span class="panel-heading column-title">Measures</span>
			<ul id="column-list" class="connectedSortable dropzone dropzone-tall">
				{% for column_name, column in dataframe.columns.items %}
					{% if column.role == "measure" %}
						<div class="btn btn-xs btn-default mypill" id="{{ column_name }}" title="{{ column.display_name }}" data-name="{{ column_name }}" data-type="{{ column.type }}">
							{% if "numeric" in column.type_category %}
								<i class="hashicon">#</i> 
							{% else %}
								{{ column.type }}
							{% endif %}
							{{ column.display_name }}
						</div>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>


	<div id="middle_panel">
		
		<div class="panel panel-success rows">
			<span class="panel-heading rows">Rows</span> 
			<ul id="report-rows" class="connectedSortable dropzone"></ul>
		</div>

		<div class="panel panel-success rows">
			<span class="panel-heading rows">Columns</span> 
			<ul id="report-columns" class="connectedSortable dropzone"></ul>
		</div>

		{# Progress Bar	#}
<!-- 
		<div id="chart_loading">
			<img id="chart_loading_bar" src="/static/charts/images/ajax-loader.gif">
		</div>
 -->

		<div id="report-area"> </div>
	</div>

	<div id="right_panel">

		<!-- Predictions -->
		<div class="panel panel-danger column-frame">
			<span class="panel-heading column-title">Predictions</span>
			<ul id="report-predictions" class="connectedSortable dropzone dropzone-tall">
				<div class="btn btn-xs btn-default mypill prediction_output hidden" id="prediction" title="Prediction" data-name="prediction" data-type="varchar">
					<i class="glyphicon"> </i>
					Prediction
				</div>
				<div class="btn btn-xs btn-default mypill prediction_output hidden" id="prediction_confidence" title="Prediction Confidence" data-name="prediction_confidence" data-type="double">
					<i class="hashicon">#</i> 
					Prediction Confidence
				</div>
				<div class="btn btn-xs btn-default mypill prediction_output hidden" id="prediction_accurate" title="Prediction Accurate" data-name="prediction_accurate" data-type="varchar">
					<i class="glyphicon glyphicon-font"> </i>
					Prediction Accuracy
				</div>
				<div class="btn btn-xs btn-default mypill prediction_output hidden" id="prediction_role" title="Prediction Role" data-name="prediction_role" data-type="varchar">
					<i class="glyphicon glyphicon-font"> </i>
					Prediction Role
				</div>
			</ul>
		</div>
	

		<!-- Filter -->
		<div class="panel panel-success column-frame">
			<span class="panel-heading column-title">Filters</span>
			<ul id="report-filters" class="connectedSortable dropzone dropzone-tall"></ul>
		</div>
		
		<!-- Groups -->
		<div class="panel panel-success column-frame">
			<span class="panel-heading column-title">Groups</span>
			<ul id="report-group" class="connectedSortable dropzone dropzone-tall"></ul>
		</div>
		
		<!-- Size -->
		<div class="panel panel-success column-frame">
			<span class="panel-heading column-title">Size</span>
			<ul id="report-size" class="connectedSortable dropzone dropzone-tall"></ul>
		</div>
	</div>
</div>


{% endblock %}
