{% extends "_layouts/base.html" %}
{# {% block page_title %}{{ dataframe.name }}{% endblock %} #}
{% block nav_analysis_active %}active{% endblock %}
{% block navbar-style %}default{% endblock %}

{% block head_content %}
	<link rel="stylesheet" href="/static/charts/css/charts.css">
	<script>
		var dataframe_id = {{ dataframe.id }};
	</script>
	<script src="/static/charts/js/chart_builder.js"></script>
{% endblock %}

{% block page_content %}

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog" >
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h3 class="modal-title" id="myModalLabel">Choose a Data Frame</h3>
			</div>
			<div class="modal-body">
				<!-- 		Table of DataFrames		 -->
				<table class="table table-striped">
					<thead>
						<tr>
							<th>ID</th>
							<th>Name</th>
							<th>Created Date</th>
						</tr>
					</thead>
					<tbody>
						{% for data_frame in object_list %}
						<tr>
							<td>{{ data_frame.id }}</td>
							<td class="name_editable">
								<a href="{% url charts:home %}?dataframe_id={{ data_frame.pk }}"><span class="glyphicon glyphicon-stats"/></a>&nbsp&nbsp 
								<a href="{% url charts:home %}?dataframe_id={{ data_frame.pk }}">{{ data_frame.name }} </a>
							</td>
							<td>{{ data_frame.created_at }}</td>
						</tr>
			
						{% empty %}
						<tr>
								<td>-</td>
								<td>-</td>
								<td>-</td>
								<td>-</td>
								<td>-</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				<!-- 		/Table of DataFrames		 -->
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->




<div id="main_panel">
	<div id="left_panel">
		<div class="panel panel-info column-frame">
			<span class="panel-heading column-title">Dimensions</span>
			<ul id="column-list" class="connectedSortable dropzone dropzone-tall">
				{% for column_name, column in dataframe.columns.items %}
					{% if column.role == "dimension" %}
						<div class="btn btn-danger btn-xs mypill" id="{{ column_name }}" title="{{ column_name }}" data-name="{{ column_name }}">
							{% if "date" in column.type %}
								<!-- <span class="glyphicon glyphicon-calendar"> </span> -->
								<img id="calendar_icon" src="/static/site/images/calendar.png">
							{% elif "time" in column.type %}
								<span class="glyphicon glyphicon-time"> </span>
							{% elif "character" in column.type_category %}
								<span class="glyphicon glyphicon-font"> </span>
							{% else %}
								{{ column.type }}
							{% endif %}

							{{ column_name }}
						</div>
					{% endif %}
				{% endfor %}
			</ul>
		</div>

		<div class="panel panel-info column-frame">
			<span class="panel-heading column-title">Measures</span>
			<ul id="column-list" class="connectedSortable dropzone dropzone-tall">
				{% for column_name, column in dataframe.columns.items %}
					{% if column.role == "measure" %}
						<div class="btn btn-danger btn-xs mypill" id="{{ column_name }}" data-name="{{ column_name }}">
							{% if "numeric" in column.type_category %}
								<span class="hashicon">#</span> 
							{% else %}
								{{ column.type }}
							{% endif %}
							{{ column_name }}
						</div>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>


	<div id="middle_panel">
		<div class="panel panel-success rows">
			<span class="panel-heading rows">Rows</span> 
			<ul id="report-rows" class="connectedSortable dropzone"></ul>
		</div>

		<div class="panel panel-success rows">
			<span class="panel-heading rows">Columns</span> 
			<ul id="report-columns" class="connectedSortable dropzone"></ul>
		</div>

		<div id="report-area">
			{# Progress Bar	#}
			<div id="chart_loading_bar" class="progress progress-striped active">
				<div class="progress-bar"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
			</div>
		</div>
	</div>

	<!-- Filters -->

	<div id="right_panel">
	
		<!-- Soon!
		<div class="panel panel-danger column-frame">
			<span class="panel-heading column-title">Predict</span>
			<ul id="column-list" class="connectedSortable dropzone filters"></ul>
		</div>
 		-->

		<!-- Filter -->
		<div class="panel panel-success column-frame">
			<span class="panel-heading column-title">Filters</span>
			<ul id="report-filters" class="connectedSortable dropzone dropzone-tall"></ul>
		</div>

		<!-- Groups -->
		<div class="panel panel-success column-frame">
			<span class="panel-heading column-title">Groups</span>
			<ul id="report-group" class="connectedSortable dropzone dropzone-tall"></ul>
		</div>
		
		<!-- Size -->
		<div class="panel panel-success column-frame">
			<span class="panel-heading column-title">Size</span>
			<ul id="report-size" class="connectedSortable dropzone dropzone-tall"></ul>
		</div>
		
	</div>
</div>





{% endblock %}
