<!DOCTYPE html>  
<html>
	<head>
		<meta charset="utf-8">
		
		{# Bootstrap #}
		<link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" href="http://bootswatch.com/simplex/bootstrap.css">
		
		{# jQuery #}
		<script src="/static/jquery/jquery-1.10.2.js"></script>
		<script src="/static/jquery/jquery.jeditable.js"></script>
		<script src="/static/bootstrap/dist/js/bootstrap.js"></script>
		<script src="/static/jquery/jquery-ui-1.10.3.js"></script>

		{# Custom #}
		<link rel="stylesheet" href="/static/site/css/base.css">
		<link rel="stylesheet" href="/static/data/css/data.css">
<!-- 		<script src="/static/data/js/data.js"></script> -->
		
		<script>
			console.debug("{{ debug_content }}");
		</script>
		{% block head_content %}{% endblock %}	
		
		<title>Win Predictive</title>
	</head>
	<body>
		<nav class="navbar navbar-{% block navbar-style %}inverse{% endblock %}" role="navigation" id="topbar">
			<div class="container" id="topContainer">
				<a class="navbar-brand" href="{% url home %}">Win Predictive</a>
				<ul class="nav navbar-nav">
					<li class="dropdown {% block nav_data_active %}{% endblock %}">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Data Manager
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><a href="{% url data:filelist %}">Data Files</a></li>
							<li><a href="{% url data:framelist %}">Data Frames</a></li>
						</ul>
					</li>
					<li class="{% block nav_analysis_active %}{% endblock %}"><a href="{% url charts:home %}">Analysis Studio</a></li>

    			</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/admin">Admin</a></li>
				</ul>
			</div>
		</nav>

		{% block page_content %}Empty Page Content{% endblock %}
		
		<br>
		<div>{{ debug }}</div>

	</body>
</html>




