<!doctype html>
<html>
	<head>
		<link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css">
		<script src="/static/jquery-1.10.2.js"></script>
		<script src="/static/jquery.jeditable.js"></script>
<!-- 		<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script> -->
		<script src="/static/bootstrap/dist/js/bootstrap.js"></script>
		{% block head_content %}{% endblock %}	
		<title>Win Analytics</title>
	</head>
	<body>
		<nav class="navbar navbar-default" role="navigation">
			<div class="container">
				<a class="navbar-brand" href="{% url data:filelist %}">Win Analytics</a>
				<ul class="nav navbar-nav">
					<li class="{% block nav_home_active %}{% endblock %}"><a href="{% url home %}">Home</a></li>
					<li class="dropdown {% block nav_data_active %}{% endblock %}">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Data Manager
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><a href="{% url data:filelist %}">Data Files</a></li>
							<li><a href="{% url data:framelist %}">Data Frames</a></li>
						</ul>
					</li>
    			</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/admin">Admin</a></li>
				</ul>
				
				
			</div>
			
			
			
			
		</nav>		
		<div class="container">
			<h1>{% block page_title %}{% endblock %}</h1>
			{% block page_content %}Empty Page Content{% endblock %}
		</div>
		
		
		<br>
		<div>{{ debug_content }}</div>
		
		
	</body>
</html>




