<!DOCTYPE html>  
<html>
	<head>
		<meta charset="utf-8">
				
		{# jQuery & jQuery plugins #}
<!-- 		<script src="/static/jquery/jquery-1.10.2.js"></script> -->
		<script src="/static/jquery/jquery-2.0.3.js"></script>
		<script src="/static/jquery/jquery.jeditable.js"></script>
		<script src="/static/jquery/jquery-ui-1.10.3.js"></script>
		<script src="/static/jquery/jquery.ui.touch-punch.js"></script>

		{# Bootstrap & Bootswatch #}
		<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
		<link rel="stylesheet" href="/static/bootswatch/css/bootstrap.css">
		<script src="/static/bootstrap/js/bootstrap.js"></script>

		{# Select2 #}
		<script src="/static/select2/select2.js"></script>
		<link rel="stylesheet" href="/static/select2/select2.css">
		<link rel="stylesheet" href="/static/select2/select2-bootstrap.css">

		{# Slider #}
		<script src="/static/slider/js/bootstrap-slider.js"></script>
		<link rel="stylesheet" href="/static/slider/css/slider.css">		

		{# Custom #}
		<link rel="stylesheet" href="/static/site/css/base.css">
		<link rel="stylesheet" href="/static/data/css/data.css">
		
		<script>
			console.debug("{{ debug_content }}");
		</script>
		
		{% block head_content %}
		{% endblock %}	
		
		<title>Win Predictive</title>
	</head>
	<body>
		<nav class="navbar navbar-{% block navbar-style %}inverse{% endblock %}" role="navigation" id="topbar">
			<div class="container" id="topContainer">
				<a class="navbar-brand" href="{% url home %}">Win Predictive</a>
				<ul class="nav navbar-nav">
					<li class="dropdown {% block nav_data_active %}{% endblock %}">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Data Manager
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><a href="{% url data:filelist %}">Data Files</a></li>
							<li><a href="{% url data:framelist %}">Data Frames</a></li>
						</ul>
					</li>
					<li class="{% block nav_analysis_active %}{% endblock %}"><a href="{% url charts:home %}">Predictive Studio</a></li>

    			</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/admin">Admin</a></li>
				</ul>
			</div>
		</nav>

		{% block page_content %}Empty Page Content{% endblock %}
		
		<br>
		<div>{{ debug }}</div>
		
		<!-- Google Analytics -->
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-46753123-1', 'winpredictive.com');
			ga('send', 'pageview');
		</script>
	</body>
</html>




