

/* Panels */

#main_panel{ 
	position: relative;
}

#left_panel{ 
	position: absolute; 
	left: 10px; 
	top: 0px; 
	width: 150px; 
}

#right_panel{ 
	position: absolute; 
	right: 10px; 
	top: 0px; 
	width: 150px; 
}

#middle_panel{ 
	margin: 0 170px; 
}

/* Left Side  */

.column-frame{
	max-height: 500px;
	min-height: 75px;
	width: 150px;
	overflow-y: scroll;
	overflow-x: hidden;
	margin: 0 0 10px 0;
	padding: 0;
}

.column-title{
	height: auto;
	width: 100%;
 	margin: 0 0 10px 0;
	padding: 5px;
	float: left;
}

.mypill{
	width: 138px;
	margin: 4px 0px 0px 5px;
	overflow: hidden;
	text-align:left;
	padding: 0 0 0 6px;
/* 	position: fixed; */
}

#calendar_icon{
	width: 10px;
	height: 10px;
	margin: -2px 0 0 0;
}

/* Get rid of this */
.col_pill{
	width: 148px;
	margin: -1px 0px 0px 0px;
	overflow: auto;
	padding: 0 0 0 6px;

	text-align: left;
	color: white;
	
	border-radius: 0;
	border-style: solid;
	border-width: 1px;
	border-color: #F9791D;
	
	background: #FEAF00;
}

.dropzone{
 	height: 100%;
 	width: 100%;
 	min-width: 200px;
 	padding: 0;
/*  	background: #EEEEEE; */
}

.hashicon{
	font-size: 10pt;
	margin: 0px 4px 0px 0px;
}

/* Middle Area */

.panel.panel-success.rows{
	height: 32px;
	width: auto;
	margin: 0px 0px 5px 0px;
	padding: 0px;

}

.panel-heading.rows{
	height: 30px;
	width: 100px;
 	padding: 5px 0 0 10px;
	float: left;
}

#report-area{
	height: 400px;
	width: auto;
	overflow:hidden;
	margin-top: 10px;
}

#chart_loading_bar{
	display: none;
}

/*  Right Area  */

.dropzone.filters{
	min-height: 50px;	
}


/* Opening Modal */

.modal-dialog{
	left: 20%;
	right: 20%;
	position: absolute;
}



